appdirs==1.4.3
cycler==0.10.0
ipython==5.3.0
matplotlib==2.0.0
nltk==3.2.2
numpy==1.12.1
packaging==16.8
protobuf==3.2.0
py==1.4.33
pyparsing==2.2.0
pyrouge==0.1.3
pytest==3.0.7
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
# -e git+https://github.com/google/seq2seq.git@761c393893af7f224eed8c39521df85354837279#egg=seq2seq
six==1.10.0
tensorflow==1.1.0
Unidecode==0.4.20